<div class="basic__container principal__font">
    <div class="basic__element_big">
        <div class="left">
            Welcome: {{user.nickName}}
            <br>
            <br>
            Desenvolver perfil
            <br>
            <br>
            <button onclick="redirecionarPagina('/logout')" class="table__button">Desconectar</button>
        </div>
        <br>
        <br>
        <div class="right">
            <button onclick="redirecionarPagina('/home/label')" class="table__button">Registrar novo Link</button>
            <br>
            <br>
            {{#if labels}}
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>link</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each labels}}
                        <tr>
                            <td>{{label}}</td>
                            <td>{{destination.link}}</td>
                            {{!-- destination.link não está funcionando --}}
                            <td>
                                <span onclick="editLabel('{{id}}')" class="table__button">Editar</span>
                            </td>
                            <td>
                                <span onclick="deleteLabel('{{id}}')" class="table__button">Apagar</span>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{else}}
            <p>Não há labels para exibir.</p>
            {{/if}}
        </div>
    </div>
</div>

<script>
    async function deleteLabel(id) {
        await fetch(`/label/delete/${id}`, {
            //implementar rota delete 
            method: 'DELETE',
        })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                }
            })
            .catch(error => console.error('Erro ao apagar label:', error));
    }

    function editLabel(id) {
        window.location.href = `/label/edit/${id}`;
        //implementar rota edit 
    }

    function redirecionarPagina(rote) {
        console.log(rote)
        window.location.href = rote;
    }

</script>